.App {
  text-align: left;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 70px;
  object-fit: contain;
}

.menu-icon{
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

.menu {
  width: 24px;
  height: 24px;
  margin-right: 40px;
  margin-top: 25px;
  object-fit: contain;
}

.Social {
  text-align : right;
  padding-right:2rem;
  margin-right: 15px;
  
}

.Social ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Social li{
  margin: 0px 0;
}

.social-icon {
  height: 22.5px;
  width: 18px;
  margin: 10px 0;
  object-fit: contain;

}

.prev{
  /* z-index: 40; */
  width: 45px;
  height: 45px;
  color: #F1F1F1;
  cursor: pointer;
  transition: color 0.3s ease-in;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 22.5px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  left: 2rem;

}

.next {
  width: 45px;
  height: 45px;
  color: #F1F1F1;
  cursor: pointer;
  transition: color 0.3s ease-in;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 22.5px;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  right: 1.5rem;
}



.prev,
.next {
  z-index: 10000001; 
}

.embla__dots {
  position: absolute;
  top: 12%;
  left: 11%;
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 0px;
}

.embla__dot {
  content: " ";
  display: block;
  width: 275px;
  height: 5px;
  background-color: transparent;
  border: 1px solid #F1F1F1;
  border-radius: none;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
}

.embla__dot.is-selected {
  background-color: #ccc;
}
